{% extends './base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}
    <h1>My Profile</h1>

    <div class="profile-details">
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Name:</strong> {{ user.name }}</p>
        <p><strong>Phone Number:</strong> {{ user.phoneNumber }}</p>
        <p><strong>Roles:</strong> {{ user.roles|join(', ') }}</p>
    </div>

    <a href="{{ path('user_profile_edit') }}" class="btn btn-primary">Edit Profile</a>
    <a href="{{ path('user_reservations_new', {'id': user.id}) }}"  class="btn btn-primary">reservation</a>
    {% if 'ROLE_ADMIN' in user.roles %}
        <a href="{{ path('admin_users_list') }}" class="btn btn-danger">Admin Dashboard</a>
    {% endif %}
{% endblock %}
